@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.accordion-item:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
  /* Replace with Tailwind color classes if needed */
}

.accordion-title {
  cursor: pointer;
}

.accordion-content {
  display: none;
}